<div class="modal-dialog" role="document">
  <div class="modal-content d-flex">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" routerLink="../"></button>
    <div class="modal-container text-center">
      <p class="poppins fz-30 weight-500">Reset Password</p>
      <div class="d-inline-block pt-5">

        <div class="row justify-content-center">
          <div class="col-md-10">
            <form action="#!" [formGroup]="pwdResetForm">
              <div class="md-form">
                <label for="form2" [class.active]="pwdResetForm.controls.email.value">Email address</label>
                <input type="email" id="form2" class="form-control" [formControl]="pwdResetForm.controls.email" name="email">
                <label class="error">
                  <div *ngIf="pwdResetForm.controls.email.errors?.required && pwdResetForm.controls.email.touched">
                    We don’t recognize that email address.
                  </div>
                  <div *ngIf="!pwdResetForm.controls.email.errors?.required && pwdResetForm.controls.email.errors?.email && pwdResetForm.controls.email.touched">
                    Please enter a valid email address.
                  </div>
                </label>
              </div>

              <button class="btn btn-dark btn-rounded mt-3" [disabled]="!pwdResetForm.valid" (click)="reset()">Send Link</button>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
