<div class="modal-dialog" role="document">
  <div class="modal-content d-flex">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" routerLink="../dashboard"></button>
    <div class="modal-container text-center">
      <p class="poppins fz-30 weight-500">Change Password</p>
      <div class="d-inline-block pt-5">

        <div class="row justify-content-center">
          <div class="col-md-10">
            <form action="#!" [formGroup]="pwdChangeForm">

              <div class="md-form">
                <label for="form2" [class.active]="pwdChangeForm.controls.oldPassword.value">Old Password</label>
                <input type="password" id="oldPassword" class="form-control" [formControl]="pwdChangeForm.controls.oldPassword" name="oldPassword">
                <label class="error">
                  <div *ngIf="pwdChangeForm.controls.oldPassword.errors?.required && pwdChangeForm.controls.oldPassword.touched">
                    Old password is required.
                  </div>
                  <div *ngIf="!pwdChangeForm.controls.oldPassword.errors?.required && pwdChangeForm.controls.oldPassword.touched && pwdChangeForm.controls.oldPassword.errors?.minlength">
                    Please enter at least 5 characters.
                  </div>
                  <div class="save-error" *ngIf="errorFlag">
                    <p>{{errorMsg}}</p>
                  </div>
                </label>
              </div>

              <div class="md-form">
                <label for="form2" [class.active]="pwdChangeForm.controls.newPassword.value">New Password</label>
                <input type="password" id="newPassword" class="form-control" [formControl]="pwdChangeForm.controls.newPassword" name="newPassword">
                <label class="error">
                  <div *ngIf="pwdChangeForm.controls.newPassword.errors?.required && pwdChangeForm.controls.newPassword.touched">
                    New password is required.
                  </div>
                  <div *ngIf="!pwdChangeForm.controls.newPassword.errors?.required && pwdChangeForm.controls.newPassword.touched && pwdChangeForm.controls.newPassword.errors?.minlength">
                    Please enter at least 5 characters.
                  </div>
                </label>
              </div>

              <div class="md-form">
                <label for="form2" [class.active]="pwdChangeForm.controls.pwdConfirm.value">Password Confirm</label>
                <input type="password" id="pwdConfirm" class="form-control" [formControl]="pwdChangeForm.controls.pwdConfirm" name="pwdConfirm">
                <label class="error">
                  <div *ngIf="pwdChangeForm.controls.pwdConfirm.errors?.required && pwdChangeForm.controls.pwdConfirm.touched">
                    Please enter the new password again.
                  </div>
                  <div *ngIf="!pwdChangeForm.controls.pwdConfirm.errors?.required && pwdChangeForm.controls.pwdConfirm.touched && pwdChangeForm.controls.pwdConfirm.value != pwdChangeForm.controls.newPassword.value">
                    Password confirm doesn't mismatch new password.
                  </div>
                </label>
              </div>

              <button class="btn btn-dark btn-rounded mt-3" [disabled]="!pwdChangeForm.valid" (click)="save()">Save</button>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
